
// General
html, body{
  height: 100%;
  overflow: hidden;
}
body{
  background-color: var(--brand-color);
  color: var(--main-text-color, #000);
  line-height: 1.4285;
  font:{
    family: var(--font-main);
    size: 1.25rem;
    weight: 400;
  }
  &.mobile-menu-open{
    position: relative;
    .header, .page-content, .footer{
      //opacity: .6;
    }
  }
  &.modal-open, &.mobile-menu-open{
    overflow: hidden;
  }
}
p{
  @include txtM0;
  margin-bottom: 1rem;
}
address{
  font-style: normal;
}
strong{
  font-weight: 700;
}
#wrapper,
.wrapper{
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  @include flex-column();
  body.sign-page &,
  body.mobile-menu-open &{
    padding-top: 0;
  }
}
.page-content {
  width: 100%;
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}
.container{
  @include container();
  &--full{
    max-width: 100%;
  }
}

.row{
  @include m-space(calc(-1*var(--col_space)));
  @include flex;
    > *{
      @include space(x, var(--col_space));
    }
    > .col{
      position: relative;
      flex: 1 1 0;
      &--half{
        @include col-sizing(50%);
      }
    }
  @include respond-below(sm){
    > .col{
      &--half{
        @include col-sizing(100%);
      }
    }
  }
}

.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}


//  Headings
h1,.h1,h2,.h2{
  margin-top: 0;
  letter-spacing: 0.02em;
  color: var(--heading-main-color);
  font-family: var(--font-heading, 'sans-serif'), 'sans-serif';
}
h1,.h1{
  font-size: 6.25rem;
  line-height: 1.5;
  margin-bottom: 3rem;

  @include respond-below(xl){
    font-size: 5rem;
  }
  @include respond-below(lg){
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
h2,.h2{
  font-size: 3.75rem;
  line-height: 2.5;
  margin-bottom: .75rem;
  @include respond-below(lg){
    font-size: 2.5rem;
    line-height: 1.5;
  }
}
a{
  color: inherit;
  @include trns();
  &:hover{

  }
}
p , small{
  > a{
    @extend .primary-text;
    @extend %link-underline-hover;
  }
}
small{
  font-size: .75rem;
}
.link{
  display: inline-block;
  border-bottom: 1px solid;
  &:hover{
    border-bottom-color: transparent;
  }

}
.strached-link{
  &:after{
    @include pseudoLink();
  }
}
blockquote{
}
picture{
  display: inline-block;
}
button{
  font-family: var(--font-main, 'sans-serif'), 'sans-serif';
  font-weight: 400;
}
figure{
  display: block;
  margin: 0;
  img{
    width: 100%;
    margin-bottom: 1em;
  }
  figcaption{
    text-align: right;
  }
}
video{

}
sup{

}
hr{
  border: none;
  border-top: var(--border);
}
.icon {
  display: inline-block;
  @include size(1em);
}
.progressbar{

}
.subtitle{
  font-family: var(--font-main, 'sans-serif'), 'sans-serif';
  font-size: 1.875rem;
  color: var(--brand-color);
  font-weight: 400;
  margin-block: 0;
  font-style: italic;
  line-height: 1.15;

  @include respond-below(lg){
    font-size: 1.5rem;
  }
  @include respond-below(sm){
    font-size: 1.25rem;
  }
}
.primary-text{
  color: var(--primary-color);
}
.brand-text{
  color: var(--brand-color);
}
.clear-list{
  @include listReset;
}
.text-center{
  text-align: center;
}
.animate-elem{
  > *{
    transform: translateY(30px);
    opacity: 0;
    @include trns($duration: .5s, $delay: var(--anim-delay));
  }
  &.is-visible{
    > *{
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.fade-effect{
    > *{
      transform: none !important;
    }
  }
}
.section{
  padding-block: 5rem;
  min-height: 100vh;
  position: relative;
  @include flexbox();
  &.slick-slide{
    display: flex;
  }
  @include respond-below(md){
    padding-block: 3rem;
  }
}

// visibility
.hide{
  @extend %hide;
}
@each $key, $value in $breakpoints {
  .d-flex-#{$key}-down{@extend %hide}
  .d-block-#{$key}-down{@extend %hide}

  @include respond-below($key){
    .d-flex-#{$key}-down{
      display: flex;
    }
    .d-block-#{$key}-down{
      display: block;
    }
    .d-none-#{$key}-down{
      display: none;
    }
  }
}

@keyframes right-to-left {
  0%{transform: translateX(100vw)}
  100%{transform: translateX(calc(100vw - 100%))}
}
@keyframes left-to-right {
  0%{transform: translateX(-100%)}
  100%{transform: translateX(0)}
}
