::-webkit-scrollbar {
  @include size(0);
}
.scroll-effect{
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  position: relative;
  @include size(100%, 100vh);

  .section{
    position: relative;
    z-index: 20;
    @include trns();
    &:not(.slick-current){
      opacity: 0;
    }
  }
}
.section-hero{
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;

  > *{
    position: relative;
    z-index: 10;
  }
  &__text{
    margin-bottom: 3.8rem;
  }
  &__media{
    picture{
      margin-left: -30%;
      @include flexbox(center, center);
    }
  }
  &:after{
    z-index: 1;
    background-color: var(--brand-color);
    right: -10%;
    top: 0;
    transform: skew(-10deg);
    @include size(40%, 100%);
    @include pseudo();
  }

  @include respond-above(lg){
    &__text{
      margin-bottom: 5rem;
      @include col-sizing(59%);

      .btn--skewed{
        margin-left: 1rem;
      }
    }
    &__media {
      padding-right: 15%;
      @include col-sizing(41%);
      img{
        max-width: 60vw;
      }
    }
  }
  @include respond-below(lg){
    padding-top: 7.5rem;
    border-bottom: 1px solid #fff;
    text-align: center;

    h1{
      padding-inline: 1rem;
    }
    &:after{
      transform: skewY(6deg);
      top: auto;
      bottom: -10%;
      right: 0;
      @include size(100%, 30%);
    }
  }
}

.form{
  &__footer{
    padding-top: 1.875rem;
    gap: var(--col_space);
    @include flexbox(center, flex-start, nowrap);

    label{
      @extend %text-14;
      line-height: 1.1;
      display: inline-block;
    }
  }
  &__submit-message{
    margin-top: 1.5rem;
    display: none;
    line-height: 1.15;
    gap: var(--col_space);

    .form--submitted &{
      display: flex;
    }
    .icon{
      font-size: 1.5rem;
      color: var(--form-success-color);
    }
  }
  @include respond-below(md){
    &__footer{
      flex-direction: column;
      padding-top: 1.25rem;

      .btn{
        width: 100%;
      }
    }
  }
}

.section-contact{
  background-color: var(--secondary-color);
  h2{
    text-align: center;
  }
  .form{
    @include center-m(38.3125rem);
  }

  @include respond-below(lg){
    h2{
      margin-bottom: 2.5rem;
    }
  }
}

.section-bg-text{
  letter-spacing: .03em;
  font-size: 7.5rem;
  text-transform: uppercase;
  font-family: var(--font-bold, 'sans-serif'), sans-serif;
  line-height: .8333;
  gap: 3rem;
  color: #fff;
  @include flex-column();
  @include center(y);
  position: fixed;
}
.text-repeat{
  display: flex;
  gap: 2.5rem;
  font-style: italic;
  @include trns($duration: .7s);
  &:nth-child(odd){
    transform: translateX(100vw);
    body.transparent-section-in &{
      animation: right-to-left 19s ease forwards;
    }
    .section-bg-text.is-visible &{
      transform: translateX(20vw);
    }
  }
  &:nth-child(even){
    transform: translateX(-100%);
    body.transparent-section-in &{
      animation: left-to-right 19s ease forwards;
    }
    .section-bg-text.is-visible &{
      transform: translateX( calc(80vw - 100%) );
    }
  }
  > span {
    &:nth-child(even) {
      color: red;
      background-color: red;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
  }
}

.section-media{
  $p: &;
  position: relative;
  z-index: 20;
  transform: translateY(30%) rotateZ(30deg);
  transform-origin: left bottom;
  @include trns($duration: .5s, $delay: .1s);
  @include center-m(27.375rem);

  .slick-slide.is-visible &{
    transform: none;
  }

  &__button{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 30;
    transform: translate(50%, 50%);
    transform-origin: center center;
    @include trns();
    @include size(8.4375rem);

    svg{
      @include size(100%);
      @include trns();
    }
    &:hover{
      color: var(--primary-hover-color);
      transform: translate(50%, 50%) rotateZ(35deg);
    }
  }
  video, picture{
    width: 100%;
    height: 36.5rem;
    object-fit: cover;
  }
}

.scroll-effect-wrap{
  height: 100vh;
  position: relative;
}
