<section class="section-hero section" id="hero">
    <div class="container">
        <div class="row align-center">
            <div class="section-hero__text">
                <h3 class="subtitle">Быстрый. Дерзкий</h3>
                <h1>Велосипед советский</h1>
                <a href="#" class="btn btn--primary btn--skewed"><span>Заказать</span></a>
            </div>
            <div class="section-hero__media">
                <picture>
                    <source srcset="assets/img/velo.webp" type="image/webp">
                    <img src="assets/img/velo.png" alt="Bicycle">
                </picture>
            </div>
        </div>
    </div>
</section>